# Browser-visible endpoint
VITE_ORCHESTRATOR_URL=http://localhost:4005

# Container service URLs
TERMINOLOGY_URL=http://terminology:4001
FHIR_ADAPTER_URL=http://fhir-adapter:4002
MOLIS_URL=http://fake-molis:4010
RESULT_ADAPTER_URL=http://result-adapter:4003
